<tr style="display:%%GLOBAL_displayrecord%%">
    <td bgcolor="#E9E9E9" width="100px">
        &nbsp;&nbsp;%%GLOBAL_url%%
    </td>
    <td bgcolor="#E9E9E9" width="225px">
        &nbsp;&nbsp;%%GLOBAL_description%%
    </td>
    <td bgcolor="#E9E9E9" width="225px">
        &nbsp;&nbsp;%%GLOBAL_comment%%
    </td>
    <td bgcolor="#E9E9E9" align="center" width="75px">
        %%GLOBAL_status%%
    </td>
    <td style="display:%%GLOBAL_displayaction%%" bgcolor="#E9E9E9" align="center" width="75px">
        %%GLOBAL_EditDefectLink%% | %%GLOBAL_DeleteDefectLink%%
    </td>
    <td style="display:%%GLOBAL_displaynoaction%%" bgcolor="#E9E9E9" align="center">
        %%GLOBAL_noaction%%
    </td>
</tr>
<tr style="display:%%GLOBAL_displaynorecord%%">
    <td colspan="6" bgcolor="#E9E9E9" align="center">
        %%GLOBAL_norecords%%
    </td>
</td>