<table style="width:100%;" border="0" cellpadding="0" cellspacing="0">
<tr>
<td width="225px">
<div class="diesel-exhaust-slide" style="cursor: pointer; width: 225px; float: left;"><img class="button-diesel" src="/images/category/exhaust-systems/button-diesel.jpg" alt="DIESEL" /></div>
</td>
<td>
<div class="gas-exhaust-slide" style="cursor: pointer; width: 225px; float: left;"><img class="button-gas" src="/images/category/exhaust-systems/button-gas.jpg" alt="GAS" /></div>
</td>
</tr>
</table>
<div class="diesel-exhaust-view" style="width: 730px; height: 191px; background: url(/images/category/exhaust-systems/dropdown-diesel.jpg) no-repeat left top;">
<table style="margin-left:192px;padding-top:5px;font-size:11px;" border="0">
<tbody>
<tr>
<td style="width: 206px; vertical-align: top;">
<ul style="list-style:none;padding:0px;margin:0px;">
<li>Ford 7.3L Powerstroke 94-97</li>
<li>Ford 7.3L Powerstroke 99-03</li>
<li>Ford 6.0L Powerstroke 03-07</li>
<li>Ford 6.4L Powerstroke 08-10</li>
<li>Ford 6.7L Powerstroke 2011</li>
<li>Dodge 5.9L Cummins 89-93</li>
<li>Dodge 5.9L Cummins 94-02</li>
<li>Dodge 5.9L Cummins 03-04</li>
<li>Dodge 5.9L Cummins 04.5-07</li>
<li>Dodge 6.7L Cummins 07.5-11</li>
<li>GM 6.2L &amp; 6.5L 82-98</li>
</ul>
</td>
<td style="vertical-align:top;">
<ul style="list-style:none;padding:0px;margin:0px;">
<li>GM Duramax 6.6L 01-04 LB7</li>
<li>GM Duramax 6.6L 04.5-05 LLY</li>
<li>GM Duramax 6.6L 06-07 LLY/LBZ</li>
<li>GM Duramax 6.6L 07.5-10 LMM</li>
<li>GM Duramax 6.6L 2011 LML</li>
<li>GM Duramax 6.6L Kodiak/TopKick</li>
<li>Volkswagen 1.9L/2.0L TDI</li>
<li>Jeep Liberty 2.8L CRD Diesel</li>
<li>Mercedes Benz Cars/SUV's</li>
<li>Sprinter Van 02-09</li>
</ul>
</td>
</tr>
</tbody>
</table>
</div>
<div class="gas-exhaust-view" style="width: 730px; height: 51px; background: url(/images/category/exhaust-systems/dropdown-gas.jpg) no-repeat left top;">
	<div class="ymmselector">
		<div id="mmyform_container" style="background:none;height:auto;margin-bottom:0px;">
			<div id="mmyform_year" style="padding-left:163px;padding-top:23px;">
				<select name="searchyear" id="searchyear" onchange="getSearchOptions2('year',%%GLOBAL_UniversalCat%%)">%%GLOBAL_YearList%%</select>
			</div>
			<div id="mmyform_make" style="padding-top:23px;">
				<select name="searchmake" id="searchmake" onchange="getSearchOptions2('make',%%GLOBAL_UniversalCat%%)">%%GLOBAL_MakeList%%</select>
			</div>
			<div id="mmyform_model" style="padding-top:23px;">
				<select name="searchmodel" id="searchmodel" onchange="getSearchOptions2('model',%%GLOBAL_UniversalCat%%)">%%GLOBAL_ModelList%%</select>
			</div>
			<div id="mmyform_button">
				<input name="setvehicle" type="image" onclick="setYMM()" value="Set Vehicle" src="/templates/TruckChampFixed/images/mmy-go-button.gif" alt="Submit button" />
			</div>
		</div>
	</div>
</div>