



<center>

                                <object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" width="769" height="109" id="myFlashContent">
				    <param name="movie" value="flash/feature_viewer/feature_viewer.swf" />
				    <param name="flashvars" value="textpath=flash/feature_viewer/feature_variables.txt" />
				<!--[if !IE]>-->
				    <object type="application/x-shockwave-flash" data="flash/feature_viewer/feature_viewer.swf" width="769" height="109">
				         <param name="flashvars" value="textpath=flash/feature_viewer/feature_variables.txt" />
				<!--<![endif]-->

		<a href="http://www.congoworld.com/Nerf-Bars/" title="Save on Truckchamp's Nerf Bars"><img src="http://www.congoworld.com/images/design23/center.jpg" alt="Save on Truckchamp's Nerf Bars" width="765" height="91"/></a>
		<p>If you want to maximize your experience on CongoWorld.com and on the Internet, please download Flash Player.<a href="http://www.adobe.com/go/getflashplayer">
                <img src="http://www.adobe.com/images/shared/download_buttons/get_flash_player.gif" alt="Get Adobe Flash player" /></a></p>
				<!--[if !IE]>-->
				</object>
				<!--<![endif]-->
			</object>

</center>


