<div id="Outer">
<div id="Header-Outer">

<div id="TopMenu">
<ul style="display:">
<li style="display:%%GLOBAL_HideAccountOptions%%"><a href="%%GLOBAL_ShopPath%%/account.php"><span>%%LNG_YourAccount%%</span></a></li>
<li style="display:"><a href="%%GLOBAL_ShopPath%%/wishlist"><span id='lang_GiftCertificates' class='LNGString'>Wish Lists</span></a></li>
<li style="display:"><a href="%%GLOBAL_ShopPath%%/giftcertificates"><span id='lang_GiftCertificates' class='LNGString'>Gift Certificates</span></a></li>
<li style="display:"><a href="%%GLOBAL_ShopPath%%/cart"><span id='lang_ViewCart' class='LNGString'>Cart %%GLOBAL_CartTotalQuantity%%</span> </a></li>
</ul>
</div>
<div id="ordernow"><p>Order Now! <span>1-866-491-7462</span></p><div id="hours"><p>Call 7 Days a Week!</p><p> <a href="http://www.congoworld.com/pages/10">Click here for a complete list of hours</a></p></div>
<img src="%%GLOBAL_ShopPath%%/images/payment-forms3.gif" alt="Pay with Visa, Master Card, American Express, Discover Card, PayPal, or Google Checkout" />
</div>



</div>
