<head>
	<title>%%Page.WindowTitle%%</title>

	<meta http-equiv="Content-Type" content="text/html; charset=%%GLOBAL_CharacterSet%%" />
	<meta name="description" content="%%Page.MetaDescription%%" />
	<meta name="keywords" content="%%Page.MetaKeywords%%" />
	<meta http-equiv="Content-Script-Type" content="text/javascript" />
	<meta http-equiv="Content-Style-Type" content="text/css" />
	<link rel="shortcut icon" href="%%GLOBAL_ShopPath%%/favicon.ico" />

	<link href="http://www.congoworld.com/templates/CongoWorldFixed/Styles/styles.css" type="text/css" rel="stylesheet" />
	<link href="http://www.congoworld.com/templates/CongoWorldFixed/Styles/blue.css" type="text/css" rel="stylesheet" />
	<link href="http://www.congoworld.com/templates/CongoWorldFixed/Styles/iselector.css" type="text/css" rel="stylesheet" />
	<!--<link href="http://www.congoworld.com/templates/CongoWorld/Styles/tab.css" type="text/css" rel="stylesheet" /> added by vikas-clarion -->
        <link href="http://www.congoworld.com/templates/CongoWorldFixed/Styles/rhb_styles.css" type="text/css" rel="stylesheet" />
        <link href="http://www.congoworld.com/templates/CongoWorldFixed/Styles/landing-pages.css" type="text/css" rel="stylesheet" />

	<!--[if IE 7]>
	  <link rel="stylesheet" type="text/css" href="http://www.congoworld.com/templates/CongoWorldFixed/Styles/ie.css" />
	<![endif]-->

    	<!--[if lt IE 7]>
	  <link rel="stylesheet" type="text/css" href="http://www.congoworld.com/templates/CongoWorldFixed/Styles/ie6.css" />
	<![endif]-->

	<!-- Tell the browsers about our RSS feeds -->
	%%GLOBAL_HeadRSSLinks%%

	<!-- Include visitor tracking code (if any) -->
	%%GLOBAL_TrackingCode%%

	%%GLOBAL_Stylesheets%%

	%%GLOBAL_DesignModeStyleSheet%%

	<script type="text/javascript" src="%%GLOBAL_ShopPath%%/javascript/jquery.js"></script>
	<script type="text/javascript" src="%%GLOBAL_ShopPath%%/javascript/menudrop.js"></script>
	<script type="text/javascript" src="%%GLOBAL_ShopPath%%/javascript/common.js"></script>
	<script type="text/javascript" src="%%GLOBAL_ShopPath%%/javascript/iselector.js"></script>
	<script type="text/javascript" src="%%GLOBAL_ShopPath%%/admin/script/order.manager.js"></script>
    <!--Added by Simha-->
    <script type="text/javascript" src="%%GLOBAL_ShopPath%%/javascript/hoverimages.js"></script>

	<script type="text/javascript">
	//<![CDATA[
	config.ShopPath = '%%GLOBAL_ShopPath%%';
	config.AppPath = '%%GLOBAL_AppPath%%';

	// Ensure that all product lists are the same height
	$(document).ready(function() {
		if(typeof(DesignMode) != 'undefined') {
			return;
		}
		var maxHeight = 0;
			$('.Content .ProductList li .ProductDetails').each(function() {
				if($(this).height() > maxHeight) {
					maxHeight = $(this).height();
				}
		});
		$('.Content .ProductList li .ProductDetails').css('height', maxHeight);
	});

	function checkanimate(divId) {
    
		var imgID = divId+'image';
		divId = '#'+divId;
		
		//alert($(divId+'image').attr("src"));

		if ($(divId).is(":hidden")) {
			$(divId).slideDown();
			$(divId+'image').html("<img src='%%GLOBAL_ShopPath%%/templates/default/images/imgHdrDropDownIcon.gif'>");
			//$(divId+'image').attr("src","%%GLOBAL_ShopPath%%/templates/default/images/imgHdrDropDownIcon.gif");
			//document.getElementById(imgID).src = '/store/templates/default/images/imgHdrDropDownIcon.gif';
		} else {
			$(divId).slideUp();
			$(divId+'image').html("<img src='%%GLOBAL_ShopPath%%/templates/default/images/imgHdrDropDownIconright.gif'>");
			//$(divId+'image').attr("src","%%GLOBAL_ShopPath%%/templates/default/images/imgHdrDropDownIconright.gif");
			//document.getElementById(imgID).src = '/store/templates/default/images/imgHdrDropDownIconright.gif';
		}
	}

	function getvalueswithajax(divid,params) {
		// Locations div is empty

		if ($.trim($('#'+divid).text()) == '') {
		$.ajax({
		   type: "GET",
		   url: "%%GLOBAL_ShopPath%%/redefine_filters.php",
		   data: params,
		   beforeSend: function() {
		   $('#'+divid).html('&nbsp;&nbsp;&nbsp;<img src="%%GLOBAL_ShopPath%%/templates/default/images/21-0.gif"/>');
		   },
		   success: function(msg){
			//alert( "Data Saved: " + msg );    
			$('#'+divid).html(msg);
		   }
		 });
		}
	}

	function show_hide(type) {

        if(type != '') 
        {
            if(document.getElementById('extra_'+type).style.display=='none' || document.getElementById('extra_'+type).style.display=='') {
            
                document.getElementById('extra_'+type).style.display='block';
                document.getElementById(type+'_more').innerHTML = 'Hide...';
                
            }   else {
            
                document.getElementById('extra_'+type).style.display='none';
                document.getElementById(type+'_more').innerHTML = 'More...';
                
            }
        }
    
    }

	function urlencode(str) 
	{
        str = (str+'').toString();
        return encodeURIComponent(str).replace(/!/g, '%21').replace(/'/g, '%27').replace(/\(/g, '%28').                                                                    replace(/\)/g, '%29').replace(/\*/g, '%2A').replace(/%20/g, '+');
	}

	function MakeURLSafe(val)
	{
		val = val.replace(/-/g, "%2d");
		val = val.replace(/\+/, "%2b");
		val = val.replace("/", "{47}");
		val = urlencode(val);
		val = val.replace(/\+/g, "-");
		return val;
	}

	function check_small_search_form(seostatus) {
		var search_query = g("search_query");

		if(search_query.value == "") {
			alert(lang.EmptySmallSearch);
			search_query.focus();
			return false;
		}

		if(seostatus != 0)
		{
			var str = search_query.value;
			//str = str.replace(/ /g,"-");
			str = str.toLowerCase();
			str = MakeURLSafe(str);
			location.href = "%%GLOBAL_ShopPath%%/search/"+str;
			return false;
		}
		else
		{
			return true;			
		}
	}

	//]]>
	</script>

	%%GLOBAL_QuickSearchJS%%

	%%GLOBAL_RTLStyles%%

<script type="text/javascript" src="%%GLOBAL_ShopPath%%/admin/script/swfobject.js"></script>
		<script type="text/javascript">
			swfobject.registerObject("myFlashContent", "9");
		</script>


</head>
