 <div id="menu2-outer">
  <div id="menu2"><a href="10reasons.html" title="Top 10 Reasons"><img src="%%GLOBAL_ShopPath%%/images/design23/10reasons.gif" alt="Top 10 Reasons to buy from CongoWorld" title="Top 10 Reason to buy from CongoWorld" /></a>
  <div id="TopMenu">
		  <ul style="display:">
			  <li style="display:" class="First"><a href="%%GLOBAL_ShopPath%%/account/order_status"><span id='lang_OrderStatus' class='LNGString'>Order Status</span></a></li>
			  <li style="display:"><a href="%%GLOBAL_ShopPath%%/wishlist"><span id='lang_YourWishList' class='LNGString'>Wish Lists</span></a></li>
			  <li><a href="%%GLOBAL_ShopPath%%/giftcertificates"><span id='lang_GiftCertificates' class='LNGString'>Gift Certificates</span></a></li>
			  <li ><a href="%%GLOBAL_ShopPath%%/cart"><span id='lang_ViewCart' class='LNGString'>View Cart</span> </a></li>
             
		  </ul>
	

		</div>
  </div>
</div>
