<div id="tc-static-featured-cats">
<ul class="CategoryList">
	<li class="Odd">
		<div class="CategoryImage">
			<a href="/search.php?search_query=Nerf-Bars" ><img src="/images/frontpage/nerf-bars-truck.jpg" alt="Nerf Bars" /></a>
		</div>
		<div class="CategoryDetails">
			<a href="/search.php?search_query=Nerf-Bars" class="CNameLink">Nerf Bars</a>
		</div>
	</li>
	<li class="Even">
		<div class="CategoryImage">
			<a href="/search.php?search_query=Fender-Flares" ><img src="/images/frontpage/home-pg.jpg" alt="Fender Flares" /></a>
		</div>
		<div class="CategoryDetails">
			<a href="/search.php?search_query=Fender-Flares" class="CNameLink">Fender Flares</a>
		</div>
	</li>
	<li class="Odd">
		<div class="CategoryImage">
			<a href="/search.php?search_query=Tonneau-Covers" ><img src="/images/frontpage/tonneau-covers.jpg" alt="Tonneau Covers" /></a>
		</div>
		<div class="CategoryDetails">
			<a href="/search.php?search_query=Tonneau-Covers" class="CNameLink">Tonneau Covers</a>
		</div>
	</li>
	<li class="Even">
		<div class="CategoryImage">
			<a href="/search.php?search_query=truck-bed-accessories&subcategory=Bed-Mat" ><img src="/images/frontpage/bed-mats.jpg" alt="Bed Mats" /></a>
		</div>
		<div class="CategoryDetails">
			<a href="/search.php?search_query=truck-bed-accessories&subcategory=Bed-Mat" class="CNameLink">Bed Mats</a>
		</div>
	</li>
	<li class="Odd">
		<div class="CategoryImage">
			<a href="/search.php?search_query=Air-Intake-Kit" ><img src="/images/frontpage/air-intakes.jpg" alt="Air Intakes" /></a>
		</div>
		<div class="CategoryDetails">
			<a href="/search.php?search_query=Air-Intake-Kit" class="CNameLink">Air Intakes</a>
		</div>
	</li>
	<li class="Even">
		<div class="CategoryImage">
			<a href="search.php?search_query=Bull-Bar-%26amp%3B-Grille-Guards" ><img src="/images/frontpage/bull-bars.jpg" alt="Bull Bars" /></a>
		</div>
		<div class="CategoryDetails">
			<a href="search.php?search_query=Bull-Bar-%26amp%3B-Grille-Guards" class="CNameLink">Bull Bars</a>
		</div>
	</li>
	<li class="Odd">
		<div class="CategoryImage">
			<a href="/search.php?search_query=Floor-Protection" ><img src="/images/frontpage/floor-mats.jpg" alt="Floor Protection" /></a>
		</div>
		<div class="CategoryDetails">
			<a href="/search.php?search_query=Floor-Protection" class="CNameLink">Floor Protection</a>
		</div>
	</li>
	<li class="Even">
		<div class="CategoryImage">
			<a href="/search.php?search_query=Exhaust-System-Kit" ><img src="/images/frontpage/exhaust-systems.jpg" alt="Exhaust Systems" /></a>
		</div>
		<div class="CategoryDetails">
			<a href="/search.php?search_query=Exhaust-System-Kit" class="CNameLink">Exhaust Systems</a>
		</div>
	</li>
	<li class="Odd">
		<div class="CategoryImage">
			<a href="/search.php?search_query=Warn" ><img src="/images/frontpage/warn-winches.jpg" alt="Warn Winches" /></a>
		</div>
		<div class="CategoryDetails">
			<a href="/search.php?search_query=Warn" class="CNameLink">Warn Winches</a>
		</div>
	</li>
	<li class="Even">
		<div class="CategoryImage">
			<a href="/search.php?search_query=Running-Boards" ><img src="/images/frontpage/running-boards.jpg" alt="Running Boards" /></a>
		</div>
		<div class="CategoryDetails">
			<a href="/search.php?search_query=Running-Boards" class="CNameLink">Running Boards</a>
		</div>
	</li>
	<li class="Odd">
		<div class="CategoryImage">
			<a href="/search.php?search_query=Bug-Shields" ><img src="/images/frontpage/hood-protector.jpg" alt="Bug Shields" /></a>
		</div>
		<div class="CategoryDetails">
			<a href="/search.php?search_query=Bug-Shields" class="CNameLink">Bug Shields</a>
		</div>
	</li>
	<li class="Even">
		<div class="CategoryImage">
			<a href="/search.php?search_query=Performance-Chips" ><img src="/images/frontpage/engine-tuners.jpg" alt="Performance Chips" /></a>
		</div>
		<div class="CategoryDetails">
			<a href="/search.php?search_query=Performance-Chips" class="CNameLink">Performance Chips</a>
		</div>
	</li>
</ul>
</div>