<div id="tc-static-featured-cats">
<ul class="CategoryList">
	<li class="Odd">
		<div class="CategoryImage">
			<a href="/bike-carrier%%GLOBAL_SearchLink%%" ><img src="/images/frontpage/bike-carrier.jpg" alt="Bike Carrier" /></a>
		</div>
		<div class="CategoryDetails">
			<a href="/bike-carrier%%GLOBAL_SearchLink%%" class="CNameLink">Bike Carrier</a>
		</div>
	</li>
	<li class="Even">
		<div class="CategoryImage">
			<a href="/cargo-accessories%%GLOBAL_SearchLink%%" ><img src="/images/frontpage/cargo-accessories.jpg" alt="Cargo Accessories" /></a>
		</div>
		<div class="CategoryDetails">
			<a href="/cargo-accessories%%GLOBAL_SearchLink%%" class="CNameLink">Cargo Accessories</a>
		</div>
	</li>
	<li class="Odd">
		<div class="CategoryImage">
			<a href="/truck-racks-%26-van-racks%%GLOBAL_SearchLink%%" ><img src="/images/frontpage/truck-racks.jpg" alt="Truck Racks & Van Racks " /></a>
		</div>
		<div class="CategoryDetails">
			<a href="/truck-racks-%26-van-racks%%GLOBAL_SearchLink%%" class="CNameLink">Truck Racks & Van Racks </a>
		</div>
	</li>
	
</ul>
</div>