<h1 id="pageLogo"><a title="Home" href="#"></a></h1>
<div id="headNav" class="clearfix">
    <div class="lfloat"></div>
    <div class="rfloat">
      <ul id="pageNav">
        <li id="navDashboard">
          <a accesskey="1" class="topNavLink" href="/">Dashboard</a> |
        </li>
        <li id="navAccount">
          <a accesskey="2" class="topNavLink" href="#">Account</a> |
        </li>
        <li id="navMasterAds">
          <a accesskey="3" class="topNavLink" href="#">Master of Ads</a> |
        </li>
        <li id="navPreference">
          <a accesskey="4" class="topNavLink" href="#">Preference</a> |
        </li>
        <li id="navSignOut">
          <a accesskey="5" class="topNavLink" href="#">Sign Out</a>
        </li>
      </ul>
    </div>
</div>