<html>
<head>
<style type="text/css">
#TB_window .catgname {
color:#075899;
font-weight:bold
}
</style>

<link href="%%GLOBAL_ShopPath%%/templates/TruckChampFixed/Styles/styles.css" type="text/css" rel="stylesheet" />
<link href="%%GLOBAL_ShopPath%%/templates/TruckChampFixed/Styles/blue.css" type="text/css" rel="stylesheet" />
</head>
<body>
<table border="0" cellpadding="0" cellspacing="0" width="100%">
<tr>
	<td width="260" valign="top">
		%%GLOBAL_LeftImage%%	</td>
	<td align="left" valign="top">
		<div id="TB_titlelink">%%GLOBAL_TitleLink%%</div>
		<div id="TB_pricerange">%%GLOBAL_PriceRange%%</div>
		<div id="TB_shippinglogo"><img src="%%GLOBAL_PATH%%/templates/default/images/free-shipping2.gif" border="0"/></div>
		<div id="TB_subcghead">%%GLOBAL_Header%%</div>
		<div id="TB_subcgtext">%%GLOBAL_Info%%</div>
		<div id="TB_buttons"><a href='%%GLOBAL_LINKPATH%%'><img src="%%GLOBAL_PATH%%/images/rhb_images3/buttons/medium/view-products.gif" border="0" alt="View Products" title="View Products"> </a><a href="javascript:" onClick="self.parent.tb_remove();"><img src='%%GLOBAL_PATH%%/images/rhb_images3/buttons/medium/close-button.gif' border='0' alt="Close" title="Close"></a></div></td>
</tr>
</table>
</body>
</html>