				<div class="Block CategoryList Moveable" id="SideCategoryList">
					<ul class="filterheaders">
                        <li class="titleheader" onclick="%%GLOBAL_CategoryJSFunction%%">%%LNG_ProductsByCategory%%</li>
                        <li id="all_categoryimage" onclick="%%GLOBAL_CategoryJSFunction%%">%%GLOBAL_arrowimage%%</li>
						<li class="clearselection">%%GLOBAL_ClearURL%%</li>
                    </ul>
					<div class="BlockContent" id="%%GLOBAL_contentid%%">
						<ul>
						<a href="%%GLOBAL_CategoryLink%%">%%GLOBAL_SearchCategoryList%%</a>
							
						</ul>
					</div>
				</div>