<tr class="SubTotal">
	<td colspan="4">
		%%LNG_CompanyGiftCertificate%% (%%GLOBAL_CompanyGiftCertificateCode%%):
		<br />
		<small style="color: gray;">
			%%GLOBAL_CompanyGiftCertificateRemaining%% %%LNG_CompanyGiftCertificateRemaining%% |
			<a href="cart.php?action=removecompanygiftcertificate&amp;companygiftcertificateid=%%GLOBAL_CompanyGiftCertificateId%%">%%LNG_Remove%%</a>
		</small>
	</td>
	<td><em class="ProductPrice" style="font-style: italic;">-%%GLOBAL_CompanyCertificateAmountUsed%%</em></td>
</tr>