<tr>
    <td>%%GLOBAL_ProdImage%%</td>
    <td>%%GLOBAL_CompProdName%%</td>     
    <td align="center" class="CartItemQuantity">
        %%GLOBAL_CompCartItemQty%%
        <br />
        <!--
        <a href="cart.php?action=remove&amp;item=%%GLOBAL_CartItemId%%" onclick="Cart.RemoveItem('%%GLOBAL_CartItemId%%'); return false;" class="CartRemoveLink">%%LNG_Remove%%</a>
        -->
    </td>
    <td align="center" class="CartItemIndividualPrice">
        <b>%%GLOBAL_CompProductPrice%%</b> <br />
    </td>
    <td align="right" class="CartItemTotalPrice"><em class="ProductPrice">%%GLOBAL_CompProductTotal%%</em></td>
</tr>