    <div class="BlockContent">   
        %%GLOBAL_ViewGallery%%   
    </div>
    <div style="height:0; clear:both;"></div>
	<h3 style="text-align:left;display:%%GLOBAL_VideosLink%%"><strong>%%LNG_AudioAndVideo%%</strong></h3>
		    
	<div style="display:%%GLOBAL_VideosLink%%">         
		<div style="float:left;width:100px;display:%%GLOBAL_SpecVideosLink%%">
		<a href="#" onclick="%%GLOBAL_VideoJavascript%%" class="ViewLarger"> 
		%%GLOBAL_SeeCompVideo%%</a>  
		</div>
		<div style="float:left;display:%%GLOBAL_SpecVideosLink%%">
		<img onclick="%%GLOBAL_VideoJavascript%%" src="%%GLOBAL_ShopPath%%/templates/default/images/play.gif" alt="Play Video" />
		</div>
		<div style="height:0; clear:both;"></div>
		<div style="float:left;width:100px;display:%%GLOBAL_SpecAudiosLink%%">
		<a href="#" onclick="%%GLOBAL_AudioJavascript%%" class="ViewLarger"> 
		%%GLOBAL_SeeCompAudio%%</a>  
		</div>
		<div style="float:left;display:%%GLOBAL_SpecAudiosLink%%">
		<img onclick="%%GLOBAL_AudioJavascript%%" src="%%GLOBAL_ShopPath%%/templates/default/images/play.gif" alt="Play Audio" />
		</div>
		<br />
	</div>     
