<div style="" id="HomeNewProducts" class="Block NewProducts Moveable">
	<div>%%GLOBAL_CatgDescandBrandImage%%</div>
	<div style="position:relative">
	<div class="focushiddendiv">
		<a name="focusDiv"></a>
	</div>
	</div>
	<div style="display:%%GLOBAL_DynamicDisplay%%"><h2>%%GLOBAL_SearchTitle%%</h2></div>

	<div class="cat-section" id="brand-section" style="%%GLOBAL_BrandListStyle%%;display:%%GLOBAL_DynamicDisplay%%">
		<div class="banner">
			<div class="text"><h3>Narrow by Brand:</h3></div>
			<div class="arrow"></div> 
		</div>
		<div class="content">
			%%GLOBAL_BrandsList%%
		</div>
		<div class="footer">
			<div class="left"></div>
			<div class="right"></div>
		</div>
	</div>

	<div class="cat-section" id="style-section">
		<div class="banner">
			<div class="text"><h3>%%GLOBAL_FilterTitle%%:</h3></div>
			<div class="arrow"></div>
		</div>
		<div class="content">
		<!--<div class="button"><a href="#">Snap Covers</a></div>
		<div class="button"><a href="#">Folding Hard</a></div>
		<div class="button"><a href="#">Tri-Fold Soft</a></div>
		<div class="button"><a href="#">Hinged Soft</a></div>
		<div class="button"><a href="#">Roll Up</a></div>
		<div class="button"><a href="#">Retractable</a></div>-->
		%%GLOBAL_ResultCategories%%
		%%GLOBAL_chartlink%%
		<!--<a onclick="ShowPopupCustom('tonneautest.html','990','650'); return false;" rel="nofollow" href="tonneautest.html"><img alt="Comparison Chart" src="images/comparison-chart-button.gif"/></a>-->
		<!--<div>Or scroll down for more details...</div>-->
		</div>
		<div class="footer">
			<div class="left"></div>
			<div class="right"></div>
		</div>
	</div>

	<div style="float:left;display:%%GLOBAL_YMMTableDisplay%%">%%GLOBAL_YMMTable%%</div>
	<div class="cat-section" id="style-section" style="width:100%; padding-left: 0; display:%%GLOBAL_CustomDisplay%%">
		<div class="banner">
			<div class="text"><h3>%%GLOBAL_ResultTitle%%:</h3></div>
			<div class="arrow"></div>
		</div>
		<div class="content">
			%%GLOBAL_CustomPage%%
		</div>
		<div class="footer">
			<div class="left"></div>
			<div class="right"></div>
		</div>
	</div>
	<div class="cat-section" id="details-section" style="display:%%GLOBAL_DynamicDisplay%%">
		<div class="banner">
			<div class="text"><h3>%%GLOBAL_ResultTitle%%:</h3></div>
			<div class="arrow"></div>
		</div>
		<div class="content">
			<div style="text-align: center;"><div id='pagenum_focus'>%%Panel.NewSearchPagingTop%%</div></div>

				%%GLOBAL_SearchResultList%%

			<div style="clear: both; text-align: center;">%%Panel.SearchPagingBottom%%</div>
		</div>
		<div class="footer">
			<div class="left"></div>
			<div class="right"></div>
		</div>
	</div>
	<br class="Clear"/>
	<div>%%GLOBAL_CatgBrandSeriesFooter%%</div>
</div>