<li id="ReviewItem_%%GLOBAL_ReviewId%%" class="ProductReviewItem %%GLOBAL_AlternateReviewClass%%">
		<h4 class="ReviewTitle">
            %%GLOBAL_ReviewTitle%%
			<img width="64" height="12" src="%%GLOBAL_TPL_PATH%%/images/IcoRating%%GLOBAL_ReviewRating%%.gif" alt="" />
        </h4>
        <p class="Meta">
            <strong>%%LNG_PostedBy%% %%GLOBAL_ReviewName%% %%LNG_xOn%% %%GLOBAL_ReviewDate%%</strong>
        </p>
        <p class="Meta HelpfulReviewCount">%%GLOBAL_ReviewHelpfulCount%%</p>
        <div class="ReviewVehicle">
            <div>%%GLOBAL_ProductName%%</div>
            <div class="ReviewVehicleYMM">
                <strong>Vehicle:</strong>%%GLOBAL_RateYear%%&nbsp;&nbsp;%%GLOBAL_RateMake%%&nbsp;&nbsp;%%GLOBAL_RateModel%%
            </div>
        </div>
        <div>
            <div style="float: left;">
                <table border='0' width='200' style="font-size:10px;margin-right: 30px;">
                    <tr>
                        <td width='120'>%%LNG_RateProductQuality%%:</td>
                        <td><img width="64" height="12" src="%%GLOBAL_TPL_PATH%%/images/IcoRating%%GLOBAL_RatingQuality%%.gif" alt="" /></td>
                    </tr>
                    <tr>
                        <td>%%LNG_RateEaseInstallation%%:</td>
                        <td><img width="64" height="12" src="%%GLOBAL_TPL_PATH%%/images/IcoRating%%GLOBAL_RatingInstall%%.gif" alt="" /></td>
                    </tr>
                    <tr>
                        <td>%%LNG_RateProductValue%%:</td>
                        <td><img width="64" height="12" src="%%GLOBAL_TPL_PATH%%/images/IcoRating%%GLOBAL_RatingValue%%.gif" alt="" /></td>
                    </tr>
                    <tr>
                        <td>%%LNG_RateCustomerSupport%%:</td>
                        <td><img width="64" height="12" src="%%GLOBAL_TPL_PATH%%/images/IcoRating%%GLOBAL_RatingSupport%%.gif" alt="" /></td>
                    </tr>
                    <tr>
                        <td>%%LNG_RateDeliveryTime%%:</td>
                        <td><img width="64" height="12" src="%%GLOBAL_TPL_PATH%%/images/IcoRating%%GLOBAL_RatingDelivery%%.gif" alt="" /></td>
                    </tr>
                </table>
            </div>
            <span>%%GLOBAL_ReviewText%%</span>
            <div class="ReviewHelpFul Clear">
                %%GLOBAL_ProductReviewHelpFul%%
            </div>
		</div>
	</li>