<div class="Block BrandList Moveable" id="SideProductFilters" >
    <ul class="filterheaders">
        <li onclick="%%GLOBAL_JSfunction%%" onmouseover="%%GLOBAL_MouseoverFn%%" onmouseout="%%GLOBAL_MouseoutFn%%" class="titleheader">%%GLOBAL_Dynmainmenu%%</li>
        <li id="%%GLOBAL_dynid%%image" onclick="%%GLOBAL_JSfunction%%">%%GLOBAL_DynFilterArrow%%</li>
        <li class="clearselection">%%GLOBAL_ClearURL%%</li>
    </ul>  
	<div class="BlockContent">
	<div class="%%GLOBAL_Dyndisplay1%%">%%GLOBAL_DynmenuFilter1%%</div>
	<div id="%%GLOBAL_dynid%%" class="%%GLOBAL_Dyndisplay%%">    
			%%GLOBAL_DynmenuFilter%%
	</div>
    </div>
</div>

