<li>
	<div id="subcatleftcolumn">
	%%GLOBAL_LeftImage%%
	</div>
	<div id="subcatcontent">
		<div>
			%%GLOBAL_TitleLink%%
		</div> 
		<div class="linecontent">
			%%GLOBAL_PriceRange%%
		</div>
		<div class="linecontent" style="%%GLOBAL_RatingVisible%%">
			Rating: <img width="64" height="12" src="%%GLOBAL_TPL_PATH%%/images/IcoRating%%GLOBAL_Rating%%.gif" alt="" />
		</div>
		<div class="linecontent">
			%%GLOBAL_ShippingImage%% 
		</div>
		<div class="linecontent">
			%%GLOBAL_ProductsCount%%
			<br>
			%%GLOBAL_CatgSeriesList%%
		</div>
		<div class="linecontent">
			%%GLOBAL_RelatedBrands%%
			%%GLOBAL_ProductWarranty%% 
		</div> 
	</div>
    <div class="SubcatItemFooter">  
        <div id="subcatleftcolumn"> 
			&nbsp;&nbsp;
        </div>
        <div id="subcatcontent">    
        %%GLOBAL_ViewDetailsImage%% 
        </div>
    </div> 
</li>