<div>%%GLOBAL_CatgDescandBrandImage%%</div>
<div style="position:relative">
	<div class="focushiddendiv">
		<a name="focusDiv"></a>
	</div>
</div>
<div><h2>%%GLOBAL_SearchTitle%%</h2></div>
<div style='text-align:center;'>%%GLOBAL_YMMTable%%</div>
<div id='pagenum_focus'>%%Panel.NewSearchPagingTop%%</div>
<div id="callbestprice" style="word-wrap:break-word;display:none;z-index:1;border:6px solid #008080;padding:10px;width:220px;position: Absolute;filter:progid:DXImageTransform.Microsoft.Alpha(opacity=100);background: white;">
	<p><font size="3px" color="#800000"><img src="/images/qm.gif"/>&nbsp;&nbsp;Call-in Special</font><br>
        <font size="1px" class="bestPricePopupMessage"></font>
	</p>
</div>
<div id="pqvqhelp" style="word-wrap:break-word;display:none;z-index:1;border:6px solid #008080;padding:5px;width:300px;position: Absolute;filter:progid:DXImageTransform.Microsoft.Alpha(opacity=100);background: white;">
	<p><img id="pqvqhelpimg" src="%%GLOBAL_SHOPPATH%%/product_images/" style="height:225px;width:300px;"/><br>
	<font size=2px><span id="pqvqhelpcmt"></span></font>
	</p>
</div>
<div class="ProductList">  
<table class="SubcatProdItem" cellpadding="0" cellspacing="0">  
    <tr class="listproductsheader">
        <td class="prodimage">%%GLOBAL_ProductPartNumber%%</td>
		<td class="prodqualifiers">%%GLOBAL_ProductVQ%%</td>
		<td class="prodqualifiers">%%GLOBAL_ProductPQ%%</td>
		<td class="prodbrandseries">%%GLOBAL_ProductBrand%%</td>
		<td class="prodpricedetails">%%GLOBAL_ProductDetails%%</td>                                         
    </tr>
</table>  
%%GLOBAL_SearchResultList%%
</div>
<div>%%GLOBAL_CatgBrandSeriesFooter%%</div>


%%GLOBAL_DisplayScript%%