<div style="" id="HomeNewProducts" class="Block NewProducts Moveable">
  <div>%%GLOBAL_CatgDescandBrandImage%%</div>
  <div style="position:relative">
	<div class="focushiddendiv">
		<a name="focusDiv"></a>
	</div>
  </div>
  <div><h2>%%GLOBAL_SearchTitle%%</h2></div>
  <div>%%GLOBAL_YMMTable%%</div>
  <div id='pagenum_focus'>%%Panel.SearchPagingTop%%</div>
  <div class="BlockContent">
    <ul class="SubcatList">
	%%GLOBAL_SearchResultList%%
    </ul>
  </div>
  <br class="Clear"/>
  <div>%%GLOBAL_CatgBrandSeriesFooter%%</div>
</div>
