<div style="display:%%GLOBAL_HideSearchResults%%">
	<script type="text/javascript">
		lang.CompareSelectMessage = '%%LNG_CompareSelectMessage%%';
	</script>

	<form action="%%GLOBAL_CompareLink%%" method="get" onsubmit="return compareProducts('%%GLOBAL_CompareLink%%')" id="frmCompare" name="frmCompare">
		

			%%GLOBAL_BreadCrumbs%%
            %%GLOBAL_SearchPhrase%%
            <br>        
			%%GLOBAL_ClearanceResults%%
		

		<br class="Clear" />

		<!--<div class="CompareButton" style="display:%%GLOBAL_HideCompareItems%%">
			<input type="image" value="%%LNG_CompareSelected%%" src="%%GLOBAL_TPL_PATH%%/images/%%GLOBAL_SiteColor%%/CompareButton.gif" />
		</div>-->
	</form>
</div>
