<div class="Block Moveable" id="CompanyGiftCertificatesMenu">
	<h2>%%LNG_CompanyGiftCertificates%%</h2>
	<div class="BlockContent">
		<ul>
			<li><a href="%%GLOBAL_ShopPath%%/giftcertificates.php">%%LNG_PurchaseCompanyGiftCertificate%%</a></li>
			<li><a href="%%GLOBAL_ShopPath%%/giftcertificates.php?action=redeem">%%LNG_RedeemACompanyGiftCertificate%%</a></li>
			<li><a href="%%GLOBAL_ShopPath%%/giftcertificates.php?action=balance">%%LNG_CheckCompanyCertificateBalance%%</a></li>
		</ul>
	</div>
</div>