<div class="Block Moveable PurchaseGiftCertificate" id="DefectReportForm">
    <h2>%%GLOBAL_DefectReportTitle%%</h2>
    <div class="BlockContent">
        <p>
            %%LNG_DefectReportDescription%%
            %%GLOBAL_Message%% 
        </p>
            <div class="FormContainer HorizontalFormContainer">
                <table cellpadding="1" cellspacing="1" border="0" width="100%" bgcolor="#808080">
                <tr>
                    <td>
                        <h2>%%LNG_Url%%</h2>
                    </td>
                    <td>
                        <h2>%%LNG_Description%%</h2>
                    </td>
                    <td>
                        <h2>%%LNG_Comment%%</h2>
                    </td>
                    <td>
                        <h2>%%LNG_Status%%</h2>
                    </td>
                    <td>
                        <h2>%%LNG_Action%%</h2>
                    </td>
                </tr>
                %%GLOBAL_DefectGrid%%
                </table>
            </div>
    </div>
</div>
<script>
function deletedefectid(id) {
     if(confirm("%%LNG_ConfirmDeleteDefect%%")) {
        document.location.href = "defectreport.php?action=deletedefect&Id="+id;
    }
}
</script>