<div class="Block Moveable" id="ProductInstruction">
	<h3>%%LNG_ProductInstruction%%</h3>

	<div class="ProductWarrantyContainer">
		%%GLOBAL_Adobe%%
	</div>
	<div class="ProductWarrantyContainer">
		%%GLOBAL_InstructionFile%%
	</div>
	<div class="ProductWarrantyContainer">
		%%GLOBAL_ProductInstruction%%
	</div>
	<!-- Added by Simha -->
	<div class="InsAdditionalContainer">
        %%SNIPPET_InsAdditionalView%%
        <h4 style="text-align:left;display:%%GLOBAL_HideInsVideosLink%%"><strong>Videos</strong></h4>
        
        <div style="display:%%GLOBAL_HideInsVideosLink%%">         
            <div style="float:left;width:120px;">
            <a href="#" onclick="%%GLOBAL_InsVideoPopupJavascript%%" class="ViewLarger"> 
            %%GLOBAL_SeeInsVideos%%</a>  
            </div>
            <div style="float:left;">
            <img onclick="%%GLOBAL_InsVideoPopupJavascript%%" src="%%GLOBAL_ShopPath%%/templates/default/images/play.gif" alt="Play Video" />
            </div>
        </div>
	</div>
	<!-- Added by Simha -->
	<hr style="%%GLOBAL_HideSectionSeparator%%" />
</div>