<div class="Block AccountMenu Moveable" id="SideAccountMenu">
	<h2>%%LNG_ManageYourAccount%%</h2>
	<div class="BlockContent">
		<ul>
			<li style="display: %%GLOBAL_HideMessagesMenu%%"><a href="%%GLOBAL_ShopPathNormal%%/account/inbox">%%LNG_ViewMessages%% <strong>(%%GLOBAL_NumNewMessages%%)</strong></a></li>
			<li><a href="%%GLOBAL_ShopPathNormal%%/account/order_status">%%LNG_ViewYourOrderStatus%%</a></li>
			<li><a href="%%GLOBAL_ShopPathNormal%%/account/view_orders">%%LNG_CompletedOrders%%</a></li>
			<li style="display: %%GLOBAL_HideReturnRequestsMenu%%"><a href="%%GLOBAL_ShopPathNormal%%/account/view_returns">%%LNG_ReturnRequests%%</a></li>
			<li><a href="%%GLOBAL_ShopPathNormal%%/account/address_book">%%LNG_YourAddressBook%%</a></li>
			<li style="display:%%GLOBAL_HideWishlist%%"><a href="%%GLOBAL_ShopPathNormal%%/wishlist/">%%LNG_WishLists%% (%%GLOBAL_NumWishListItems%%)</a></li>
			<li><a href="%%GLOBAL_ShopPathNormal%%/account/account_details">%%LNG_YourAccountDetails%%</a></li>
			<li><a href="%%GLOBAL_ShopPathNormal%%/account/recent_items">%%LNG_RecentlyViewedItems%%</a></li>
            <li><a href="%%GLOBAL_ShopPathNormal%%/defectreport/reports">%%LNG_Defects%%</a></li>
			<li><a href="%%GLOBAL_ShopPathNormal%%/login/logout">%%LNG_Logout%%</a></li>
		</ul>
	</div>
</div>
