<div class="Block Moveable" id="PageContent">
    <div class="BlockContent">
            <div>
                <p><strong>Categories &amp; Subcategories</strong></p>
                %%GLOBAL_output%%
            </div>
            <div>
                <p><strong>Brands &amp; Series</strong></p>
                %%GLOBAL_Brand%%
            </div>
            <div>
                <p><strong>Static Pages</strong></p>
                %%GLOBAL_CustomPages%%
            </div>
        </div>
    </div>
        <br class="Clear" />
