<table border="0" cellpadding="0" cellspacing="0">
    <tr>
        <td style="height: 100px;">
            &nbsp;
        </td>
    </tr>
	<tr>
		<td>
			<h2>You have successfully registered for the Harley Sweepstakes.</h2>
		</td>
	</tr>
    <tr>
        <td style="display: %%GLOBAL_DisplayTotal%%">
            %%GLOBAL_RemainingMessage%% %%GLOBAL_Remaining%% more eligible entries may be entered.
        </td>
        <td style="display: %%GLOBAL_DisplayRemaining%%">
            %%LNG_5Sweepstakessaved%%
        </td>
    </tr>
    <tr>
        <td style="height: 50px;">
            <a href="%%GLOBAL_SweepsTakesLink%%">Back To Registration</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="%%GLOBAL_ShopPath%%">Home</a>
        </td>
    </tr>
</table>