<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<sectionGroup name="NUnit">
			<section name="TestRunner" type="System.Configuration.NameValueSectionHandler"/>
		</sectionGroup>
	</configSections>
	<NUnit>
		<TestRunner>
			<!-- Valid values are STA,MTA. Others ignored. -->
			<add key="ApartmentState" value="STA" />
		</TestRunner>
	</NUnit>

	<appSettings>

		<add key="Platform" value="FF"/>
		<!-- IE|FF -->
		<add key="targetHost" value="http://dev.zecco.com"/>
		<add key="UserName" value="percyzhao1"/>
		<add key="PassWord" value="password"/>
	</appSettings>
</configuration>
