<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<sectionGroup name="NUnit">
			<section name="TestRunner" type="System.Configuration.NameValueSectionHandler"/>
		</sectionGroup>
	</configSections>
	<NUnit>
		<TestRunner>
			<!-- Valid values are STA,MTA. Others ignored. -->
			<add key="ApartmentState" value="STA" />
		</TestRunner>
	</NUnit>
	<appSettings>
		<add key="Platform" value="*firefox"/>
    <!--Supported browsers include:
    *firefox
    *mock
    *firefoxproxy
    *pifirefox
    *chrome
    *iexploreproxy
    *iexplore
    *firefox3
    *safariproxy
    *googlechrome
    *konqueror
    *firefox2
    *safari
    *piiexplore
    *firefoxchrome
    *opera
    *iehta
    *custom-->
    <add key="TestURL" value="http://dev.lofinc.net"/>
  </appSettings>
  <connectionStrings>
    <add name="SqlConn"
         connectionString="Data Source=(local);Initial Catalog=member;User ID=sa;Password=1234"
         providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>
