<table>
	<thead>
		<tr>
			<th class="First">&nbsp;</th>
			<th class="Second LastPeriodStats" title="%%GLOBAL_LastPeriodDateRange%%">%%GLOBAL_LastPeriodHeader%%</th>
			<th title="%%GLOBAL_ThisPeriodDateRange%%">%%GLOBAL_ThisPeriodHeader%%</th>
			<th>% Change</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<th>Revenue:</th>
			<td class="First LastPeriodStats">%%GLOBAL_LastPeriodRevenue%%</td>
			<td>%%GLOBAL_ThisPeriodRevenue%%</td>
			<td class="PerformanceIndicator%%GLOBAL_TotalRevenueChangeClass%%">%%GLOBAL_TotalRevenueChange%%</td>
		</tr>
		<tr>
			<th>New Orders:</th>
			<td class="First LastPeriodStats">%%GLOBAL_LastPeriodNumOrders%%</td>
			<td>%%GLOBAL_ThisPeriodNumOrders%%</td>
			<td class="PerformanceIndicator%%GLOBAL_NumOrdersChangeClass%%">%%GLOBAL_NumOrdersChange%%</td>
		</tr>
		<tr style="%%GLOBAL_HideVisitorStats%%">
			<th>Visitors:</th>
			<td class="First LastPeriodStats">%%GLOBAL_LastPeriodNumVisitors%%</td>
			<td>%%GLOBAL_ThisPeriodNumVisitors%%</td>
			<td class="PerformanceIndicator%%GLOBAL_NumVisitorsChangeClass%%">%%GLOBAL_NumVisitorsChange%%</td>
		</tr>
		<tr style="%%GLOBAL_HideConversionRate%%">
			<th>Conversion Rate:</th>
			<td class="First LastPeriodStats">%%GLOBAL_LastPeriodConversionRate%%%</td>
			<td>%%GLOBAL_ThisPeriodConversionRate%%%</td>
			<td class="PerformanceIndicator%%GLOBAL_ConversionChangeClass%%">%%GLOBAL_ConversionChange%%</td>
		</tr>
	</tbody>
</table>