				<tr>
					<td class="FieldLabel">
						<span class="Required">%%GLOBAL_Required%%</span>&nbsp;%%GLOBAL_FieldName%%:
					</td>
					<td>
						<select name="%%GLOBAL_OptionName%%" id="%%GLOBAL_FieldId%%" class="Field250">
							<option value="-1">Ignore</option>
							%%GLOBAL_OptionList%%
						</select>
						<img onmouseout="HideHelp('%%GLOBAL_HelpId%%')" onmouseover="ShowHelp('%%GLOBAL_HelpId%%', '%%GLOBAL_FieldNameHelpTitle%%', '%%GLOBAL_FieldNameHelp%%')" src="images/help.gif" width="24" height="16" border="0">
						<div style="display:none" id="%%GLOBAL_HelpId%%"></div>
						%%GLOBAL_Extra%%
					</td>
				</tr>