<tr class="orderSubTotal">
	<td>&nbsp;</td>
	<td colspan="5" style="padding: 4px; text-align: right;">
		<strong>%%LNG_CompanyGiftCertificate%% (%%GLOBAL_CompanyGiftCertificateCode%%):</strong>
		<br />
		<span style="color: gray;">
			%%GLOBAL_CompanyGiftCertificateRemaining%% %%LNG_CompanyGiftCertificateRemaining%% |
			<a href="#" onclick="OrderManager.RemoveCompanyGiftCertificate('%%GLOBAL_CompanyGiftCertificateId%%'); return false;">%%LNG_Remove%%</a>
		</span>
	</td>
	<td style="padding: 6px; text-align: right;">-%%GLOBAL_CompanyCertificateAmountUsed%%</td>
	<td>&nbsp;</td>
</tr>