<tr id="promourl_%%GLOBAL_TdId%%">
	<td width="50%"><input type="text" name="promotionurl[]" class="Field500" value="%%GLOBAL_promourlval%%">
	<input type="hidden" name="promotionidhidden[]" class="Field500" value="%%GLOBAL_promoidval%%">
	</td>
	<td nowrap="nowrap" class="Right" style="padding: 6px; vertical-align: top;">
		<a onclick="AddRow(this); return false;" href="#">
			<img border="0" alt="" src="images/addicon.gif">
		</a>
		<a onclick="RemoveRow(this); return false;" href="#">
							<img border="0" alt="" src="images/delicon.gif">
		</a>
	</td>
</tr>